<div class="nav-container">
  <div class="flex-container">
    <div class="ico sub-container w-10 t-r">
      <img src="../../assets/images/menu_black_24dp.svg" alt="" srcset="">
    </div>
    <div class="sub-container w-30 t-l h-m">
      <img src="../../assets/images/Group 2.svg" alt="" srcset="">
    </div>
    <div class="sub-container txt-container w-20">
      <h1>
        Crownhill
      </h1>
    </div> 
    <div class="w-40">
      <div class="ico-container">
        <div class="ico sub-container t-x">
          <img src="../../assets/images/notifications_black_24dp.svg" alt="" srcset="">
        </div>
        <div class="ico sub-container t-x h-m">
          <img src="../../assets/images/system_update_alt_black_24dp.svg" alt="" srcset="" >
        </div>
        
        <div class="ico sub-container t-x h-m">
          <img src="../../assets/images/Profile.svg" alt="" srcset="">
        </div>
        <div class="ico sub-container t-x h-m">
          <img src="../../assets/images/Help.svg" alt="" srcset="">
        </div>
      </div>
    </div>
    
  </div>
</div>